In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
glob.glob("*.csv")

['seirhvdUSA.csv',
 'statesUSA.csv',
 'countiesUSA.csv',
 'initial_cond_hvd2.csv',
 'InitCond_USA_states_18Jan22.csv',
 'initial_cond_hvd.csv',
 'hvdUSA.csv',
 'InitCond_USA_counties_18Jan22.csv']

In [3]:
# df_states_US   = pd.read_csv(glob.glob("*.csv")[0])
# df_hvd_US      = pd.read_csv(glob.glob("*.csv")[1])
# df_counties_US = pd.read_csv(glob.glob("*.csv")[2])
df_states_US   = pd.read_csv("InitCond_USA_states_18Jan22.csv")
df_hvd_US      = pd.read_csv("initial_cond_hvd.csv")
df_counties_US = pd.read_csv("InitCond_USA_counties_18Jan22.csv")

In [4]:
df_states_US = df_states_US.drop(columns = "Unnamed: 0")
df_states_US.head()

,DateTime,State,State_postal,FIPS_state,S,E,I,I_acum,I_active,R
0,2020-01-22,Alabama,AL,1,4903185,0,0,0,0,0
1,2020-01-23,Alabama,AL,1,4903185,0,0,0,0,0
2,2020-01-24,Alabama,AL,1,4903185,0,0,0,0,0
3,2020-01-25,Alabama,AL,1,4903185,0,0,0,0,0
4,2020-01-26,Alabama,AL,1,4903185,0,0,0,0,0

In [5]:
df_counties_US = df_counties_US.drop(columns = "Unnamed: 0")
df_counties_US.head()

,FIPS_county,County,State,DateTime,I_acum,R_acum,S,I,R,I_active,E,FIPS_state,State_postal
0,1001,Autauga,Alabama,2020-01-22,0,0,55869,0,0,0,0,1,AL
1,1001,Autauga,Alabama,2020-01-23,0,0,55869,0,0,0,0,1,AL
2,1001,Autauga,Alabama,2020-01-24,0,0,55869,0,0,0,0,1,AL
3,1001,Autauga,Alabama,2020-01-25,0,0,55869,0,0,0,0,1,AL
4,1001,Autauga,Alabama,2020-01-26,0,0,55869,0,0,0,0,1,AL

In [6]:
for attr in df_hvd_US.columns:
    if df_hvd_US[attr].dtypes == "float64":
        df_hvd_US[attr] = df_hvd_US[attr].astype('int64')

S E I R **H V D**

tratamiento para los FIPS

In [7]:
df_hvd_US = df_hvd_US.rename(columns = {'FIPS':'FIPS_state'})

In [8]:
df_hvd_US.columns

Index(['DateTime', 'State', 'State_Postal', 'FIPS_state', 'H', 'H_acum',
       'D_acum', 'D', 'V_acum', 'V', 'V_Janssen_acum', 'V_Janssen',
       'V_Moderna_acum', 'V_Moderna', 'V_Pfizer_acum', 'V_Pfizer', 'V_Um_acum',
       'V_Um', 'V_dose1_acum', 'V_dose1', 'S_complete_acum', 'S_complete',
       'S_complete_Janssen_acum', 'S_complete_Janssen',
       'S_complete_Moderna_acum', 'S_complete_Moderna',
       'S_complete_Pfizer_acum', 'S_complete_Pfizer', 'S_complete_Um_acum',
       'S_complete_Um', 'Booster_acum', 'Booster', 'Booster_Moderna_acum',
       'Booster_Moderna', 'Booster_Pfizer_acum', 'Booster_Pfizer',
       'Booster_Janssen_acum', 'Booster_Janssen', 'Booster_Um_acum',
       'Booster_Um'],
      dtype='object')

In [9]:
# desde el endpoint

# for df in [df_states_US, df_hvd_US, df_counties_US]:
# #     df = pd.read_csv(df, dtype={'FIPS_state': str,'FIPS_county': str})
#     for attr in df.columns:
#         if (attr == "FIPS_state" or attr == "FIPS_county"):
#             df[attr] = df[attr].astype('str')

In [10]:
# desde endpoint

# for df in [df_states_US, df_hvd_US, df_counties_US]:
#     for i, ind in enumerate(df['FIPS_state'].values):
#         if len(ind) == 1: 
#             df.at[i, 'FIPS_state'] = "0" + ind
#     if 'FIPS_county' in df.columns:
#         for i, ind in enumerate(df['FIPS_county'].values):
#             if len(ind) == 4: 
#                 df.at[i, 'FIPS_county'] = "0" + ind

In [11]:
df_states_US

,DateTime,State,State_postal,FIPS_state,S,E,I,I_acum,I_active,R
0,2020-01-22,Alabama,AL,1,4903185,0,0,0,0,0
1,2020-01-23,Alabama,AL,1,4903185,0,0,0,0,0
2,2020-01-24,Alabama,AL,1,4903185,0,0,0,0,0
3,2020-01-25,Alabama,AL,1,4903185,0,0,0,0,0
4,2020-01-26,Alabama,AL,1,4903185,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
37072,2022-01-13,Wyoming,WY,56,578759,24361,1243,124986,9744,0
37073,2022-01-14,Wyoming,WY,56,578759,27077,1482,126468,10830,0
37074,2022-01-15,Wyoming,WY,56,578759,27077,0,126468,10830,0
37075,2022-01-16,Wyoming,WY,56,578759,27077,0,126468,10830,0
37076,2022-01-17,Wyoming,WY,56,578759,27077,0,126468,10830,0

In [12]:
df_hvd_US

,DateTime,State,State_Postal,FIPS_state,H,H_acum,D_acum,D,V_acum,V,...,Booster_acum,Booster,Booster_Moderna_acum,Booster_Moderna,Booster_Pfizer_acum,Booster_Pfizer,Booster_Janssen_acum,Booster_Janssen,Booster_Um_acum,Booster_Um
0,2020-01-01,Alabama,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-02,Alabama,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-03,Alabama,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-04,Alabama,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-05,Alabama,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37896,2022-01-11,Wyoming,WY,56,70,55009,703,0,693333,1086,...,102861,551,48412,272,52986,269,1424,8,38,0
37897,2022-01-12,Wyoming,WY,56,71,55088,705,1,694453,1120,...,103448,587,48703,291,53273,286,1433,8,38,0
37898,2022-01-13,Wyoming,WY,56,75,55191,706,1,695563,1109,...,104036,587,48993,289,53561,288,1442,9,38,0
37899,2022-01-14,Wyoming,WY,56,82,55314,708,1,696832,1269,...,104706,670,49311,318,53903,341,1453,10,38,0
37900,2022-01-15,Wyoming,WY,56,89,55433,711,1,697927,1094,...,105315,608,49592,280,54220,317,1463,10,38,0

In [13]:
df_counties_US

,FIPS_county,County,State,DateTime,I_acum,R_acum,S,I,R,I_active,E,FIPS_state,State_postal
0,1001,Autauga,Alabama,2020-01-22,0,0,55869,0,0,0,0,1,AL
1,1001,Autauga,Alabama,2020-01-23,0,0,55869,0,0,0,0,1,AL
2,1001,Autauga,Alabama,2020-01-24,0,0,55869,0,0,0,0,1,AL
3,1001,Autauga,Alabama,2020-01-25,0,0,55869,0,0,0,0,1,AL
4,1001,Autauga,Alabama,2020-01-26,0,0,55869,0,0,0,0,1,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285683,56045,Weston,Wyoming,2022-01-13,1283,16,6927,4,0,31,78,56,WY
2285684,56045,Weston,Wyoming,2022-01-14,1291,16,6927,8,0,37,92,56,WY
2285685,56045,Weston,Wyoming,2022-01-15,1291,16,6927,0,0,37,92,56,WY
2285686,56045,Weston,Wyoming,2022-01-16,1291,16,6927,0,0,37,92,56,WY
2285687,56045,Weston,Wyoming,2022-01-17,1291,16,6927,0,0,37,92,56,WY

In [14]:
# statesUSA
# hvdUSA
# countiesUSA

statesUSA   = pd.read_csv("statesUSA.csv")
hvdUSA      = pd.read_csv("hvdUSA.csv")
countiesUSA = pd.read_csv("countiesUSA.csv")

In [15]:
print(df_states_US.equals(statesUSA))
print(df_hvd_US.equals(hvdUSA))
print(df_counties_US.equals(countiesUSA))

True
True
True

In [16]:
statesUSA = statesUSA.rename(columns = {'State_postal':'state_postal'})
hvdUSA    = hvdUSA.rename(columns = {'State_Postal':'state_postal'})

_ = pd.merge(hvdUSA, statesUSA, how = 'outer', on = ['DateTime', 'State', 'state_postal', 'FIPS_state'],\
                      left_on = None, right_on = None, left_index = False, right_index = False, sort = True)

seirhvdUSA = _.dropna()

for attr in seirhvdUSA.columns:
    if seirhvdUSA[attr].dtypes == "float64":
        seirhvdUSA[attr] = seirhvdUSA[attr].astype('int64')

In [17]:
# df_states_US.to_csv('statesUSA.csv', index = False, encoding = 'utf-8')
# df_hvd_US.to_csv('hvdUSA.csv', index = False, encoding = 'utf-8')
# df_counties_US.to_csv('countiesUSA.csv', index = False, encoding = 'utf-8')
seirhvdUSA.to_csv('seirhvdUSA.csv', index = False, encoding = 'utf-8')

In [18]:
hvdUSA2 = pd.read_csv("seirhvdUSA.csv")

In [19]:
hvdUSA2

,DateTime,State,state_postal,FIPS_state,H,H_acum,D_acum,D,V_acum,V,...,Booster_Janssen_acum,Booster_Janssen,Booster_Um_acum,Booster_Um,S,E,I,I_acum,I_active,R
0,2020-01-22,Alabama,AL,1,0,0,0,0,0,0,...,0,0,0,0,4903185,0,0,0,0,0
1,2020-01-22,Alaska,AK,2,0,0,0,0,0,0,...,0,0,0,0,740995,0,0,0,0,0
2,2020-01-22,Arizona,AZ,4,0,0,0,0,0,0,...,0,0,0,0,7278717,0,0,0,0,0
3,2020-01-22,California,CA,6,0,0,0,0,0,0,...,0,0,0,0,39512223,0,0,0,0,0
4,2020-01-22,Colorado,CO,8,0,0,0,0,0,0,...,0,0,0,0,5758736,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36867,2022-01-15,Virginia,VA,51,3908,831035,9562,45,14891726,36945,...,37561,278,359,3,8535519,582242,0,1351417,232899,0
36868,2022-01-15,Washington,WA,53,2213,522801,5690,23,12923367,32590,...,29237,235,566,5,7614893,479885,0,1039457,191955,0
36869,2022-01-15,West Virginia,WV,54,910,265513,3581,12,2539855,3578,...,4194,27,60,0,1792147,136992,5223,382958,54796,0
36870,2022-01-15,Wisconsin,WI,55,2459,556034,10831,18,9370668,20651,...,24171,138,68,1,5822434,442369,0,1297612,176949,0
36871,2022-01-15,Wyoming,WY,56,89,55433,711,1,697927,1094,...,1463,10,38,0,578759,27077,0,126468,10830,0

In [20]:
# 36872 rows × 46 columns