In [3]:
import pandas as pd
import glob

In [4]:
glob.glob("*.csv")

['time_series_covid19_deaths_US.csv', 'time_series_covid19_confirmed_US.csv']

In [5]:
df_deaths_US    = pd.read_csv(glob.glob("*.csv")[0])
df_confirmed_US = pd.read_csv(glob.glob("*.csv")[1])

In [6]:
df_deaths_US

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/31/21,1/1/22,1/2/22,1/3/22,1/4/22,1/5/22,1/6/22,1/7/22,1/8/22,1/9/22
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,160,160,160,160,161,161,161,162,162,162
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,593,593,593,593,594,594,598,601,603,603
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,81,81,81,81,81,81,83,83,83,83
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,95,95,95,95,95,95,95,95,95,95
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,198,198,198,198,198,198,198,199,202,202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,14,14,14,14,14,14,14,14,14,14
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,31,31,31,31,34,34,34,34,34,34
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,37,37,37,37,39,39,39,39,39,39
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,14,14,14,14,16,16,16,16,16,16

In [7]:
df_confirmed_US

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/31/21,1/1/22,1/2/22,1/3/22,1/4/22,1/5/22,1/6/22,1/7/22,1/8/22,1/9/22
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,11018,11018,11184,11256,11347,11478,11638,11789,11856,11975
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,39911,39911,40396,40549,40838,41312,41855,42391,42738,43285
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,3860,3860,3932,3961,3999,4036,4101,4150,4180,4263
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,4533,4533,4576,4594,4616,4680,4730,4815,4857,4914
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,11256,11256,11338,11368,11430,11497,11587,11690,11749,11828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,5950,5950,5950,6273,6452,6581,6836,7025,7025,7025
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,4154,4154,4154,4173,4191,4220,4245,4264,4264,4264
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,1880,1880,1880,1886,1892,1903,1909,1915,1915,1915
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,1254,1254,1254,1257,1257,1260,1261,1263,1263,1263

In [8]:
df_deaths_US.shape

(3342, 731)