In [1]:
import pandas as pd
import numpy as np

In [2]:
statesUSA   = pd.read_csv("statesUSA.csv")
seirhvdUSA  = pd.read_csv('seirhvdUSA.csv') 
countiesUSA = pd.read_csv("countiesUSA.csv")

In [3]:
# pasando los FIPS a string
for df in [statesUSA, seirhvdUSA, countiesUSA]:
    for attr in df.columns:
        if (attr == "FIPS_state" or attr == "FIPS_county"):
            df[attr] = df[attr].astype('str')

# formateando los FIPS
for df in [statesUSA, seirhvdUSA, countiesUSA]:
    for i, ind in enumerate(df['FIPS_state'].values):
        if len(ind) == 1: 
            df.at[i, 'FIPS_state'] = "0" + ind
    if 'FIPS_county' in df.columns:
        for i, ind in enumerate(df['FIPS_county'].values):
            if len(ind) == 4: 
                df.at[i, 'FIPS_county'] = "0" + ind

In [4]:
statesUSA

,DateTime,State,State_postal,FIPS_state,S,E,I,I_acum,I_active,R
0,2020-01-22,Alabama,AL,01,4903185,0,0,0,0,0
1,2020-01-23,Alabama,AL,01,4903185,0,0,0,0,0
2,2020-01-24,Alabama,AL,01,4903185,0,0,0,0,0
3,2020-01-25,Alabama,AL,01,4903185,0,0,0,0,0
4,2020-01-26,Alabama,AL,01,4903185,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
37072,2022-01-13,Wyoming,WY,56,578759,24361,1243,124986,9744,0
37073,2022-01-14,Wyoming,WY,56,578759,27077,1482,126468,10830,0
37074,2022-01-15,Wyoming,WY,56,578759,27077,0,126468,10830,0
37075,2022-01-16,Wyoming,WY,56,578759,27077,0,126468,10830,0
37076,2022-01-17,Wyoming,WY,56,578759,27077,0,126468,10830,0

In [5]:
# set(statesUSA.FIPS_state.values)

In [6]:
seirhvdUSA

,DateTime,State,state_postal,FIPS_state,H,H_acum,D_acum,D,V_acum,V,...,Booster_Janssen_acum,Booster_Janssen,Booster_Um_acum,Booster_Um,S,E,I,I_acum,I_active,R
0,2020-01-22,Alabama,AL,01,0,0,0,0,0,0,...,0,0,0,0,4903185,0,0,0,0,0
1,2020-01-22,Alaska,AK,02,0,0,0,0,0,0,...,0,0,0,0,740995,0,0,0,0,0
2,2020-01-22,Arizona,AZ,04,0,0,0,0,0,0,...,0,0,0,0,7278717,0,0,0,0,0
3,2020-01-22,California,CA,06,0,0,0,0,0,0,...,0,0,0,0,39512223,0,0,0,0,0
4,2020-01-22,Colorado,CO,08,0,0,0,0,0,0,...,0,0,0,0,5758736,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36867,2022-01-15,Virginia,VA,51,3908,831035,9562,45,14891726,36945,...,37561,278,359,3,8535519,582242,0,1351417,232899,0
36868,2022-01-15,Washington,WA,53,2213,522801,5690,23,12923367,32590,...,29237,235,566,5,7614893,479885,0,1039457,191955,0
36869,2022-01-15,West Virginia,WV,54,910,265513,3581,12,2539855,3578,...,4194,27,60,0,1792147,136992,5223,382958,54796,0
36870,2022-01-15,Wisconsin,WI,55,2459,556034,10831,18,9370668,20651,...,24171,138,68,1,5822434,442369,0,1297612,176949,0
36871,2022-01-15,Wyoming,WY,56,89,55433,711,1,697927,1094,...,1463,10,38,0,578759,27077,0,126468,10830,0

In [7]:
seirhvdUSA.columns

Index(['DateTime', 'State', 'state_postal', 'FIPS_state', 'H', 'H_acum',
       'D_acum', 'D', 'V_acum', 'V', 'V_Janssen_acum', 'V_Janssen',
       'V_Moderna_acum', 'V_Moderna', 'V_Pfizer_acum', 'V_Pfizer', 'V_Um_acum',
       'V_Um', 'V_dose1_acum', 'V_dose1', 'S_complete_acum', 'S_complete',
       'S_complete_Janssen_acum', 'S_complete_Janssen',
       'S_complete_Moderna_acum', 'S_complete_Moderna',
       'S_complete_Pfizer_acum', 'S_complete_Pfizer', 'S_complete_Um_acum',
       'S_complete_Um', 'Booster_acum', 'Booster', 'Booster_Moderna_acum',
       'Booster_Moderna', 'Booster_Pfizer_acum', 'Booster_Pfizer',
       'Booster_Janssen_acum', 'Booster_Janssen', 'Booster_Um_acum',
       'Booster_Um', 'S', 'E', 'I', 'I_acum', 'I_active', 'R'],
      dtype='object')

In [8]:
countiesUSA

,FIPS_county,County,State,DateTime,I_acum,R_acum,S,I,R,I_active,E,FIPS_state,State_postal
0,01001,Autauga,Alabama,2020-01-22,0,0,55869,0,0,0,0,01,AL
1,01001,Autauga,Alabama,2020-01-23,0,0,55869,0,0,0,0,01,AL
2,01001,Autauga,Alabama,2020-01-24,0,0,55869,0,0,0,0,01,AL
3,01001,Autauga,Alabama,2020-01-25,0,0,55869,0,0,0,0,01,AL
4,01001,Autauga,Alabama,2020-01-26,0,0,55869,0,0,0,0,01,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2285683,56045,Weston,Wyoming,2022-01-13,1283,16,6927,4,0,31,78,56,WY
2285684,56045,Weston,Wyoming,2022-01-14,1291,16,6927,8,0,37,92,56,WY
2285685,56045,Weston,Wyoming,2022-01-15,1291,16,6927,0,0,37,92,56,WY
2285686,56045,Weston,Wyoming,2022-01-16,1291,16,6927,0,0,37,92,56,WY
2285687,56045,Weston,Wyoming,2022-01-17,1291,16,6927,0,0,37,92,56,WY

**states**

In [9]:
arr_FIPS = ["06", "30"]
arr_dfs  = []
df_aux   = pd.DataFrame(columns = statesUSA.columns)

# df_aux
for i in arr_FIPS:
    df_tmp = statesUSA[(statesUSA['DateTime'] >= '2020-06-26') &\
                       (statesUSA['DateTime'] <= '2020-06-26') &\
                       (statesUSA['FIPS_state'] == i)]
    arr_dfs.append(df_tmp)
    
df_final = pd.concat(arr_dfs)
    
df_final

,DateTime,State,State_postal,FIPS_state,S,E,I,I_acum,I_active,R
3064,2020-06-26,California,CA,06,39512223,173500,6591,212967,69399,63
19058,2020-06-26,Montana,MT,30,1068778,664,26,829,266,1

In [10]:
attr = ['DateTime', 'S', 'I', 'I_acum', 'I_active', 'R']
df_final.loc[:, attr]

         DateTime         S     I  I_acum  I_active   R
3064   2020-06-26  39512223  6591  212967     69399  63
19058  2020-06-26   1068778    26     829       266   1

In [11]:
# df_dates = statesUSA[(statesUSA['DateTime'] >= '2020-06-25') &\
#                      (statesUSA['DateTime'] <= '2020-06-26')][['DateTime', 'FIPS_state', 'S', 'I', 'R']]
# df_dates
df_dates = df_final[['DateTime', 'S', 'E', 'I', 'I_acum', 'I_active', 'R']]

In [12]:
otro_df = pd.DataFrame(df_dates.groupby(['DateTime']).sum())
otro_df = otro_df.reset_index(level = None, drop = False, inplace = False, col_level = 0, col_fill = '')
otro_df

     DateTime         S       E     I  I_acum  I_active   R
0  2020-06-26  40581001  174164  6617  213796     69665  64

In [13]:
print(pd.DataFrame(df_dates.groupby('DateTime')['S'].sum()))
print(pd.DataFrame(df_dates.groupby('DateTime')['I'].sum()))
print(pd.DataFrame(df_dates.groupby('DateTime')['R'].sum()))

                   S
DateTime
2020-06-26  40581001
               I
DateTime
2020-06-26  6617
             R
DateTime
2020-06-26  64

In [14]:
fechas = otro_df['DateTime'].tolist()
fechas

['2020-06-26']

In [15]:
# n_day = otro_df[(otro_df['DateTime'] == '2020-06-25') & (otro_df['DateTime'] == '2020-06-26')].index
# print(n_day)

otro_df.index[otro_df['DateTime'] == '2020-06-26'].tolist()[0]

0

**counties**

In [16]:
arr_FIPS_county = ["36001", "36003"]
arr_dfs_county  = []
df_aux_county   = pd.DataFrame(columns = countiesUSA.columns)

for i in arr_FIPS_county:
    df_tmp = countiesUSA[(countiesUSA['DateTime'] >= '2020-06-25') &\
                         (countiesUSA['DateTime'] <= '2020-06-26') &\
                         (countiesUSA['FIPS_county'] == i)]
    arr_dfs_county.append(df_tmp)
    
df_final_county = pd.concat(arr_dfs_county)
    
# df_final_county

df_dates_county = df_final_county[['DateTime', 'S', 'E', 'I', 'I_acum', 'I_active', 'R']]

otro_df_county = pd.DataFrame(df_dates_county.groupby(['DateTime']).sum())
otro_df_county = otro_df_county.reset_index(level = None, drop = False, inplace = False, col_level = 0, col_fill = '')
otro_df_county

# S        = df_dates['S'].sum()
# I        = df_dates['I'].sum()
# I_acum   = df_dates['I_acum'].sum()
# I_active = df_dates['I_active'].sum()
# R        = df_dates['R'].sum()

# print(S, 
# I, 
# I_acum, 
# I_active,
# R)

     DateTime       S    E   I  I_acum  I_active  R
0  2020-06-25  351597  240  11    2134        96  1
1  2020-06-26  351597  232   8    2142        93  0

**seirhvd**

In [17]:
arr_FIPS_hvd = ["13", "15", "17"]
arr_dfs_hvd  = []
df_aux_hvd   = pd.DataFrame(columns = seirhvdUSA.columns)

for i in arr_FIPS_hvd:
    df_tmp = seirhvdUSA[(seirhvdUSA['DateTime'] >= '2020-06-25') &\
                        (seirhvdUSA['DateTime'] <= '2020-07-25') &\
                        (seirhvdUSA['FIPS_state'] == i)]
    arr_dfs_hvd.append(df_tmp)
    
df_final_hvd = pd.concat(arr_dfs_hvd)
    
df_final_hvd

df_dates_hvd = df_final_hvd[['DateTime', 'FIPS_state', 'S', 'E', 'I', 'I_acum', 'I_active', 'R', 'H', 'H_acum', 'V', 'V_acum', 'D', 'D_acum']]

otro_df_hvd = pd.DataFrame(df_dates_hvd.groupby(['DateTime']).sum())
otro_df_hvd = otro_df_hvd.reset_index(level = None, drop = False, inplace = False, col_level = 0, col_fill = '')
otro_df_hvd

,DateTime,S,E,I,I_acum,I_active,R,H,H_acum,V,V_acum,D,D_acum
0,2020-06-25,24705116,65099,2331,206687,26040,86,3217,366976,0,0,23,4917
1,2020-06-26,24705116,66886,2497,209184,26754,60,3128,369923,0,0,24,4944
2,2020-06-27,24705116,68650,2193,211377,27459,33,3087,372714,0,0,23,4962
3,2020-06-28,24705116,69245,1621,212998,27696,17,2992,375657,0,0,22,4983
4,2020-06-29,24705116,70516,1498,214496,28206,18,2937,378751,0,0,21,5001
5,2020-06-30,24705116,77711,4121,218617,31082,40,2972,381975,0,0,21,5018
6,2020-07-01,24705116,82589,3453,222070,33035,49,3032,385296,0,0,20,5032
7,2020-07-02,24705116,86486,3406,225476,34598,58,3131,388904,0,0,18,5048
8,2020-07-03,24705116,93442,4272,229748,37377,27,3222,392486,0,0,17,5069
9,2020-07-04,24705116,98478,4069,233817,39392,9,3334,396065,0,0,16,5082
10,2020-07-05,24705116,101662,2491,236308,40663,9,3418,399591,0,0,17,5106
11,2020-07-06,24705116,103888,2291,238599,41559,23,3663,404396,0,0,17,5128
12,2020-07-07,24705116,107738,3378,241977,43093,58,3866,409045,0,0,18,5153
13,2020-07-08,24705116,110383,3861,245838,44152,57,4073,413818,0,0,21,5180
14,2020-07-09,24705116,111597,3157,248995,44639,28,4243,418613,0,0,21,5198
15,2020-07-10,24705116,121037,6106,255101,48414,62,4440,423575,0,0,21,5224
16,2020-07-11,24705116,124996,4083,259184,50000,54,4487,427482,0,0,23,5249
17,2020-07-12,24705116,126530,2808,261992,50615,26,4529,431302,0,0,24,5280
18,2020-07-13,24705116,133747,4504,266496,53498,27,4472,435710,0,0,24,5301
19,2020-07-14,24705116,138050,3216,269712,55216,49,4488,440474,0,0,23,5322
20,2020-07-15,24705116,139482,4698,274410,55793,41,4680,446586,0,0,21,5330
21,2020-07-16,24705116,141704,4342,278752,56682,41,4876,452751,0,0,21,5349
22,2020-07-17,24705116,145268,4835,283587,58111,49,5048,458925,0,0,19,5363
23,2020-07-18,24705116,147194,5039,288626,58878,49,5375,465119,0,0,17,5374
24,2020-07-19,24705116,145328,3318,291944,58127,10,5689,471137,0,0,14,5384
25,2020-07-20,24705116,146860,3107,295051,58743,9,5897,476996,0,0,13,5399
26,2020-07-21,24705116,151575,4180,299231,60632,94,6068,482961,0,0,13,5421
27,2020-07-22,24705116,154743,4644,303875,61898,101,6081,489164,0,0,16,5447
28,2020-07-23,24705116,160417,6131,310006,64168,50,6080,495323,0,0,16,5473
29,2020-07-24,24705116,166472,5574,315580,66585,96,6070,501422,0,0,19,5507
30,2020-07-25,24705116,163816,5051,320631,65530,61,6061,507552,0,0,21,5529

In [18]:
seirhvdUSA[(seirhvdUSA['DateTime'] >= '2020-06-25') &\
                        (seirhvdUSA['DateTime'] <= '2020-07-25')]['FIPS_state'].value_counts()

01    31
42    31
32    31
33    31
34    31
35    31
36    31
37    31
38    31
39    31
40    31
41    31
44    31
30    31
45    31
46    31
47    31
48    31
49    31
50    31
51    31
53    31
54    31
55    31
31    31
29    31
02    31
16    31
04    31
05    31
06    31
08    31
09    31
10    31
11    31
12    31
13    31
15    31
17    31
28    31
18    31
19    31
20    31
21    31
22    31
23    31
24    31
25    31
26    31
27    31
56    31
Name: FIPS_state, dtype: int64

In [19]:
set(seirhvdUSA['DateTime'].tolist())

{'2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13',
 '2020-05-14',
 '2020-05-15',
 '2020-05-16',
 '2020-05-17',
 '2020-05-18',
 '2020-05-19',
 '2020-05-20',
 '2020-05-21',
 '2020-05-22',
 '2020-05-23',
 '2020-05-24',
 '2020-05-25',
 '2020-05-26',
 '2020-05-27',
 '2020-05-28',
 '2020-05-29',
 '2020-05-30',
 '2020-05-31',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16',
 '2020-07-17',
 '2020-07-18',
 '2020-07-19',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-25',
 '2020-07-26',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31',
 '2020-08-01',
 '2020-08-02',
 '2020-08-03',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-07',
 '2020-08-08',
 '2020-08-09',
 '2020-08-10',
 '2020-08-11',
 '2020-08-12',
 '2020-08-13',
 '2020-08-14',
 '2020-08-15',
 '2020-08-16',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-21',
 '2020-08-22',
 '2020-08-23',
 '2020-08-24',
 '2020-08-25',
 '2020-08-26',
 '2020-08-27',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-08-31',
 '2020-09-01',
 '2020-09-02',
 '2020-09-03',
 '2020-09-04',
 '2020-09-05',
 '2020-09-06',
 '2020-09-07',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-12',
 '2020-09-13',
 '2020-09-14',
 '2020-09-15',
 '2020-09-16',
 '2020-09-17',
 '2020-09-18',
 '2020-09-19',
 '2020-09-20',
 '2020-09-21',
 '2020-09-22',
 '2020-09-23',
 '2020-09-24',
 '2020-09-25',
 '2020-09-26',
 '2020-09-27',
 '2020-09-28',
 '2020-09-29',
 '2020-09-30',
 '2020-10-01',
 '2020-10-02',
 '2020-10-03',
 '2020-10-04',
 '2020-10-05',
 '2020-10-06',
 '2020-10-07',
 '2020-10-08',
 '2020-10-09',
 '2020-10-10',
 '2020-10-11',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-17',
 '2020-10-18',
 '2020-10-19',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-24',
 '2020-10-25',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-29',
 '2020-10-30',
 '2020-10-31',
 '2020-11-01',
 '2020-11-02',
 '2020-11-03',
 '2020-11-04',
 '2020-11-05',
 '2020-11-06',
 '2020-11-07',
 '2020-11-08',
 '2020-11-09',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-14',
 '2020-11-15',
 '2020-11-16',
 '2020-11-17',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '2020-11-21',
 '2020-11-22',
 '2020-11-23',
 '2020-11-24',
 '2020-11-25',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-29',
 '2020-11-30',
 '2020-12-01',
 '2020-12-02',
 '2020-12-03',
 '2020-12-04',
 '2020-12-05',
 '2020-12-06',
 '2020-12-07',
 '2020-12-08',
 '2020-12-09',
 '2020-12-10',
 '2020-12-11',
 '2020-12-12',
 '2020-12-13',
 '2020-12-14',
 '2020-12-15',
 '2020-12-16',
 '2020-12-17',
 '2020-12-18',
 '2020-12-19',
 '2020-12-20',
 '2020-12-21',
 '2020-12-22',
 '2020-12-23',
 '2020-12-24',
 '2020-12-25',
 '2020-12-26',
 '2020-12-27',
 '2020-12-28',
 '2020-12-29',
 '2020-12-30',
 '2020-12-31',
 '2021-01-01',
 '2021-01-02',
 '2021-01-03',
 '2021-01-04',
 '2021-01-05',
 '2021-01-06',
 '2021-01-07',
 '2021-01-08',
 '2021-01-09',
 '2021-01-10',
 '2021-01-11',
 '2021-01-12',
 '2021-01-13',
 '2021-01-14',
 '2021-01-15',
 '2021-01-16',
 '2021-01-17',
 '2021-01-18',
 '2021-01-19',
 '2021-01-20',
 '2021-01-21',
 '2021-01-22',
 '2021-01-23',
 '2021-01-24',
 '2021-01-25',
 '2021-01-26',
 '2021-01-27',
 '2021-01-28',
 '2021-01-29',
 '2021-01-30',
 '2021-01-31',
 '2021-02-01',
 '2021-02-02',
 '2021-02-03',
 '2021-02-04',
 '2021-02-05',
 '2021-02-06',
 '2021-02-07',
 '2021-02-08',
 '2021-02-09',
 '2021-02-10',
 '2021-02-11',
 '2021-02-12',
 '2021-02-13',
 '2021-02-14',
 '2021-02-15',
 '2021-02-16',
 '2021-02-17',
 '2021-02-18',
 '2021-02-19',
 '2021-02-20',
 '2021-02-21',
 '2021-02-22',
 '2021-02-23',
 '2021-02-24',
 '2021-02-25',
 '2021-02-26',
 '2021-02-27',
 '2021-02-28',
 '2021-03-01',
 '2021-03-02',
 '2021-03-03',
 '2021-03-04',
 '2021-03-05',
 '2021-03-06',
 '2021-03-07',
 '2021-03-08',
 '2021-03-09',
 '2021-03-10',
 '2021-03-11',
 '2021-03-12',
 '2021-03-13',
 '2021-03-14',
 '2021-03-15',
 '2021-03-16',
 '2021-03-17',
 '2021-03-18',
 '2021-03-19',
 '2021-03-20',
 '2021-03-21',
 '2021-03-22',
 '2021-03-23',
 '2021-03-24',
 '2021-03-25',
 '2021-03-26',
 '2021-03-27',
 '2021-03-28',
 '2021-03-29',
 '2021-03-30',
 '2021-03-31',
 '2021-04-01',
 '2021-04-02',
 '2021-04-03',
 '2021-04-04',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-09',
 '2021-04-10',
 '2021-04-11',
 '2021-04-12',
 '2021-04-13',
 '2021-04-14',
 '2021-04-15',
 '2021-04-16',
 '2021-04-17',
 '2021-04-18',
 '2021-04-19',
 '2021-04-20',
 '2021-04-21',
 '2021-04-22',
 '2021-04-23',
 '2021-04-24',
 '2021-04-25',
 '2021-04-26',
 '2021-04-27',
 '2021-04-28',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-03',
 '2021-05-04',
 '2021-05-05',
 '2021-05-06',
 '2021-05-07',
 '2021-05-08',
 '2021-05-09',
 '2021-05-10',
 '2021-05-11',
 '2021-05-12',
 '2021-05-13',
 '2021-05-14',
 '2021-05-15',
 '2021-05-16',
 '2021-05-17',
 '2021-05-18',
 '2021-05-19',
 '2021-05-20',
 '2021-05-21',
 '2021-05-22',
 '2021-05-23',
 '2021-05-24',
 '2021-05-25',
 '2021-05-26',
 '2021-05-27',
 '2021-05-28',
 '2021-05-29',
 '2021-05-30',
 '2021-05-31',
 '2021-06-01',
 '2021-06-02',
 '2021-06-03',
 '2021-06-04',
 '2021-06-05',
 '2021-06-06',
 '2021-06-07',
 '2021-06-08',
 '2021-06-09',
 '2021-06-10',
 '2021-06-11',
 '2021-06-12',
 '2021-06-13',
 '2021-06-14',
 '2021-06-15',
 '2021-06-16',
 '2021-06-17',
 '2021-06-18',
 '2021-06-19',
 '2021-06-20',
 '2021-06-21',
 '2021-06-22',
 '2021-06-23',
 '2021-06-24',
 '2021-06-25',
 '2021-06-26',
 '2021-06-27',
 '2021-06-28',
 '2021-06-29',
 '2021-06-30',
 '2021-07-01',
 '2021-07-02',
 '2021-07-03',
 '2021-07-04',
 '2021-07-05',
 '2021-07-06',
 '2021-07-07',
 '2021-07-08',
 '2021-07-09',
 '2021-07-10',
 '2021-07-11',
 '2021-07-12',
 '2021-07-13',
 '2021-07-14',
 '2021-07-15',
 '2021-07-16',
 '2021-07-17',
 '2021-07-18',
 '2021-07-19',
 '2021-07-20',
 '2021-07-21',
 '2021-07-22',
 '2021-07-23',
 '2021-07-24',
 '2021-07-25',
 '2021-07-26',
 '2021-07-27',
 '2021-07-28',
 '2021-07-29',
 '2021-07-30',
 '2021-07-31',
 '2021-08-01',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-05',
 '2021-08-06',
 '2021-08-07',
 '2021-08-08',
 '2021-08-09',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-14',
 '2021-08-15',
 '2021-08-16',
 '2021-08-17',
 '2021-08-18',
 '2021-08-19',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-08-27',
 '2021-08-28',
 '2021-08-29',
 '2021-08-30',
 '2021-08-31',
 '2021-09-01',
 '2021-09-02',
 '2021-09-03',
 '2021-09-04',
 '2021-09-05',
 '2021-09-06',
 '2021-09-07',
 '2021-09-08',
 '2021-09-09',
 '2021-09-10',
 '2021-09-11',
 '2021-09-12',
 '2021-09-13',
 '2021-09-14',
 '2021-09-15',
 '2021-09-16',
 '2021-09-17',
 '2021-09-18',
 '2021-09-19',
 '2021-09-20',
 '2021-09-21',
 '2021-09-22',
 '2021-09-23',
 '2021-09-24',
 '2021-09-25',
 '2021-09-26',
 '2021-09-27',
 '2021-09-28',
 '2021-09-29',
 '2021-09-30',
 '2021-10-01',
 '2021-10-02',
 '2021-10-03',
 '2021-10-04',
 '2021-10-05',
 '2021-10-06',
 '2021-10-07',
 '2021-10-08',
 '2021-10-09',
 '2021-10-10',
 '2021-10-11',
 '2021-10-12',
 '2021-10-13',
 '2021-10-14',
 '2021-10-15',
 '2021-10-16',
 '2021-10-17',
 '2021-10-18',
 '2021-10-19',
 '2021-10-20',
 '2021-10-21',
 '2021-10-22',
 '2021-10-23',
 '2021-10-24',
 '2021-10-25',
 '2021-10-26',
 '2021-10-27',
 '2021-10-28',
 '2021-10-29',
 '2021-10-30',
 '2021-10-31',
 '2021-11-01',
 '2021-11-02',
 '2021-11-03',
 '2021-11-04',
 '2021-11-05',
 '2021-11-06',
 '2021-11-07',
 '2021-11-08',
 '2021-11-09',
 '2021-11-10',
 '2021-11-11',
 '2021-11-12',
 '2021-11-13',
 '2021-11-14',
 '2021-11-15',
 '2021-11-16',
 '2021-11-17',
 '2021-11-18',
 '2021-11-19',
 '2021-11-20',
 '2021-11-21',
 '2021-11-22',
 '2021-11-23',
 '2021-11-24',
 '2021-11-25',
 '2021-11-26',
 '2021-11-27',
 '2021-11-28',
 '2021-11-29',
 '2021-11-30',
 '2021-12-01',
 '2021-12-02',
 '2021-12-03',
 '2021-12-04',
 '2021-12-05',
 '2021-12-06',
 '2021-12-07',
 '2021-12-08',
 '2021-12-09',
 '2021-12-10',
 '2021-12-11',
 '2021-12-12',
 '2021-12-13',
 '2021-12-14',
 '2021-12-15',
 '2021-12-16',
 '2021-12-17',
 '2021-12-18',
 '2021-12-19',
 '2021-12-20',
 '2021-12-21',
 '2021-12-22',
 '2021-12-23',
 '2021-12-24',
 '2021-12-25',
 '2021-12-26',
 '2021-12-27',
 '2021-12-28',
 '2021-12-29',
 '2021-12-30',
 '2021-12-31',
 '2022-01-01',
 '2022-01-02',
 '2022-01-03',
 '2022-01-04',
 '2022-01-05',
 '2022-01-06',
 '2022-01-07',
 '2022-01-08',
 '2022-01-09',
 '2022-01-10',
 '2022-01-11',
 '2022-01-12',
 '2022-01-13',
 '2022-01-14',
 '2022-01-15'}

In [20]:
seirhvdUSA[(seirhvdUSA['DateTime'] >= '2020-06-25') &\
                        (seirhvdUSA['DateTime'] <= '2020-06-26') &\
                        (seirhvdUSA['FIPS_state'] == '13')] #['FIPS_state'].value_counts()

,DateTime,State,state_postal,FIPS_state,H,H_acum,D_acum,D,V_acum,V,...,Booster_Janssen_acum,Booster_Janssen,Booster_Um_acum,Booster_Um,S,E,I,I_acum,I_active,R
7812,2020-06-25,Georgia,GA,13,1492,158272,1234,7,0,0,...,0,0,0,0,10617423,40376,1414,66455,16150,46
7863,2020-06-26,Georgia,GA,13,1458,159698,1250,9,0,0,...,0,0,0,0,10617423,41899,1618,68073,16760,23

In [21]:
seirhvdUSA.shape

(36872, 46)